.logon-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    margin-bottom: 50px;
}
.logon-container section.form{
    margin-top: 90px;
}

.logon-container section.form form h1{
    font-size: 30px;
    margin-bottom: 30px;
}

Img{
    max-width: 400px;
    margin-left: 40px;
    margin-bottom: 25px;
}

.logoImg {
    align-items: center;
    text-align: center;
    margin-left: -50px;
    margin-bottom: 10px;
}